.editgreen{
    background-color: rgb(18, 216, 0) ;
    color: rgb(255, 255, 255); 
    transition: background-color 0.5s;
    margin-top: 1rem;
    text-decoration: none;

}
button.editgreen:hover {
    background-color: rgb(7, 173, 4);
    color: rgb(0, 0, 0);
    text-decoration: none;

}

.delitred{
    background-color: rgb(255, 0, 0) ;
    color: rgb(255, 255, 255);
    width: 68px; 
    margin-top: 1rem;
}
button.delitred:hover{
    background-color: rgb(160, 1, 1);
    color: rgb(0, 0, 0);
    text-decoration: none;

}
